:root{
    margin: 0;
    --bordas: #232527;
    --fundo: #e7e6eb;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background-color: var(--fundo);
    font-family: 'Oswald', sans-serif
}

.top-bar, .bottom-bar{
    width: 100%;
    height: 4vh;
    background-color: var(--bordas);
}

.bottom-bar{
    position: absolute;
    bottom: 0;
}

.text{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30vh;
}

.text p{
    font-size: 4rem;

}

.text img{
    width: 50px;
    margin-left: 20px;
}

.contact{
    width: 100%;
    position: absolute;
    bottom: 6vh;
    display: flex;
    justify-content: center;
}

.contact img{
    width: 40px;
    margin-left: 20px;
    margin-right: 20px;
}


@media (max-width: 600px){
    .text{
        flex-direction: column;
    }
    .text p{
        font-size: 3rem;
        margin-block-end: 0.3em;
    }
    .text img{
        width: 40px;
    }
}